<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>         
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
<appSettings>
    <add key="mask" value="255.255.255.0"/>
    <add key="prefferedDNS" value="10.122.212.11"/>
    <add key="alternateDNS" value="10.122.212.12"/>
    <add key="changeBoot" value="10"/>
    <add key="nameOfGroup" value="MODULE"/>
  </appSettings>
</configuration>
